
<div class="content">


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Editing Component</h5>
        </div>
        <div class="card-body">

<%= render "form", component: @component %>

<br>

<div>
  <%= link_to "Show this component", @component %> |
  <%= link_to "Back to components", components_path %>
</div>
