
<div class="content">


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Component</h5>
        </div>
        <div class="card-body">

          <%= render @component %>

          <div>
            <%= link_to "Edit this component", edit_component_path(@component) %> |
            <%= link_to "Back to components", components_path %>

            <%= button_to "Destroy this component", @component, method: :delete %>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>