<h1>Editing meeting</h1>

<%= render "form", meeting: @meeting %>

<br>

<div>
  <%= link_to "Show this meeting", organisation_meeting_path(@organisation, @meeting) %> |
  <%= link_to "Back to meetings", organisation_meetings_path(@organisation) %>
</div>
