
<%= render @meeting %>

<div>
  <%= link_to "Edit this meeting", edit_organisation_meeting_path(@organisation, @meeting) %> |
  <%= link_to "Back to meetings", organisation_meetings_path(@organisation) %>

  <%= button_to "Destroy this meeting", organisation_meeting_path(@organisation, @meeting), method: :delete %>
</div>
