<h1>Editing hosted meeting</h1>

<%= render "form", hosted_meeting: @hosted_meeting %>

<br>

<div>
  <%= link_to "Show this hosted meeting", @hosted_meeting %> |
  <%= link_to "Back to hosted meetings", hosted_meetings_path %>
</div>
