

<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Slide</h5>
        </div>
        <div class="card-body">

<%= render @slide %>

<div>
  <%= link_to "Edit this slide", edit_slide_path(@slide) %> |
  <%= link_to "Back to slides", slides_path %>

  <%= button_to "Destroy this slide", @slide, method: :delete %>
</div>

        </div>
      </div>
    </div>
  </div>
</div>