<h1>Editing meeting action</h1>

<%= render "form", meeting_action: @meeting_action %>

<br>

<div>
  <%= link_to "Show this meeting action", @meeting_action %> |
  <%= link_to "Back to meeting actions", meeting_actions_path %>
</div>
