<h1>Editing meeting action</h1>

<%= render "form", meeting_action: @meeting_action %>

<br>

<div>
  <%= link_to "Show this meeting action", organisation_meeting__meeting_action_path(@organisation, @meeting, @meeting_action) %> |
  <%= link_to "Back to meeting actions", organisation_meeting_meeting_actions_path(@organisation, @meeting) %>
</div>
