
<h1>Meeting actions</h1>

<div id="meeting_actions">
  <% @meeting_actions.each do |meeting_action| %>
    <%= render meeting_action %>
    <p>
      <%= link_to "Show this meeting action", organisation_meeting_meeting_action_path(@organisation, @meeting, meeting_action) %>
    </p>
  <% end %>
</div>

<%= link_to "New meeting action", new_organisation_meeting_meeting_action_path(@organisation, @meeting) %>
