<h1>New meeting action</h1>

<%= render "form", meeting_action: @meeting_action %>

<br>

<div>
  <%= link_to "Back to meeting actions", organisation_meeting_meeting_actions_path(@organisation, @meeting) %>
</div>
