<h1>Editing agenda</h1>

<%= render "form", agenda: @agenda %>

<br>

<div>
  <%= link_to "Show this agenda", organisation_meeting_agenda_path(@organisation, @meeting, @agenda) %> |
  <%= link_to "Back to agendas", organisation_meeting_agendas_path(@organisation, @meeting) %>
</div>
