
<%= render @agenda %>

<div>
  <%= link_to "Edit this agenda", edit_organisation_meeting_agenda_path(@organisation, @meeting, @agenda) %> |
  <%= link_to "Back to agendas", organisation_meeting_agendas_path(@organisation, @meeting) %>


  <%= button_to "Destroy this agenda", organisation_meeting_agenda_path(@organisation, @meeting, @agenda), method: :delete  %>
</div>
