<div id="<%= dom_id master_slide_template %>">
  <p>
    <strong>Name:</strong>
    <%= master_slide_template.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= master_slide_template.content %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= master_slide_template.enabled %>
  </p>

</div>
