

<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Editing master slide template</h5>
        </div>
        <div class="card-body">



<%= render "form", master_slide_template: @master_slide_template %>

<br>

<div>
  <%= link_to "Show this master slide template", @master_slide_template %> |
  <%= link_to "Back to master slide templates", master_slide_templates_path %>
</div>



        </div>
      </div>
    </div>
  </div>
</div>