

<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Master Slide templates</h5>
        </div>
        <div class="card-body">

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Enabled</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
  
            <% @master_slide_templates.each do |master_slide_template| %>
              <tr>
                <td><%= master_slide_template.name %></td>
                <td><i class="fa-solid <%= master_slide_template.enabled ? 'fa-circle-check text-success' : 'fa-circle-x text-danger' %>"></i></td>
                <td class='text-end'><%= link_to "Show this slide template", master_slide_template_path(master_slide_template), data: {turbo: false} %></td>
              </tr>
            <% end %>
            </tbody>
          </table>



          <%= link_to "New master slide template", new_master_slide_template_path %>

        </div>
      </div>
    </div>
  </div>
</div>